template.optionsStatistic
	form.form.formLabelInput#rangeDate
		article.inputContainer
			label.label(for="children") Niñ@
			select(type='date', name='children' id='children' required)
				for children in parent.children
					option(value="#{children.id}") #{children.name}
		article.inputContainer
			label.label(for="dateInit") Fecha Inicial
			input#dateInit(type="date" name="dateInit")
		article.inputContainer
			label.label(for="dateEnd") Fecha Final
			input#dateEnd(type="date" name="dateEnd")
		article.inputContainer.alignItemsEnd
			button.btn.btnSuccess(type="submit")
				span Generar
	script.
		currentTime = new Date()
		document.querySelector('#dateInit').value = currentTime.getValueInput('y-m-d')
		document.querySelector('#dateEnd').value = currentTime.getValueInput('y-m-d')
template.resultStatistics
	section#chartRangeDate

