template.optionsStatistic
	form.form.formLabelInput.formOptionsStatistics#today
		span.icon-incorrect.close#closeOptionsStatistic
		h2 Hoy
		article.inputContainer
			label.label(for='children') Niñ@
			select(type='date', name='children' id='children' required)
				for children in parent.children
					option(value='#{children.id}') #{children.name}
		article.inputContainer.alignItemsCenter
			button.btn.btnSuccess.effect(type='submit')
				span Generar
template.resultStatistics
	article
		h1.nameActivity
		p
			span #[strong Hora fijada ] #[span.timeActivity]
		p
			span #[strong Completada a las ] #[span.timeHistory]
		p
			span #[strong Completada ] #[span.timeText]

