template.optionsStatistic
	form.form.formLabelInput#today
		article.inputContainer
			label.label(for="children") niñ@
			select(type='date', name='children' id='children' required)
				for children in father.children
					option(value="#{children.id}") #{children.name}
		article.inputContainer.alignItemsEnd
			button.btn.btnSuccess(type="submit")
				span Generar
template.resultStatistics
	article
		h1.nameActivity
		p
			span.timeActivity
			span.stateActivity

