@media screen and (min-width: 768px)
	input
		font-size 1.2rem
		padding 5px
	.MSG
		width 90%
	.statistics
		justify-content center
		.statistic
			width 45%
	.formAuthenticate
		margin 0 auto
		width 50%
		input
			font-size 1.5rem
			padding 15px

