baseBlue = #4285F4
baseGreen = #34A853
baseOscure = #455A64
basePurple = #9C27b0
baseRed = #EA4235
baseYellow = #FBBC05

.contentWidth
	transition 1s all linear

.alignItemsEnd
	display flex
	justify-content flex-end

.alignItemsCenter
	display flex
	justify-content center

.overflowHidden
	overflow hidden
