baseBlue = #4285F4
baseGreen = #34A853
baseOscure = #455A64
basePurple = #9C27b0
baseRed = #EA4235
baseYellow = #FBBC05

.alignItemsEnd
	display flex
	justify-content flex-end

.overflowHidden
	overflow hidden
