@import 'normalize'
@import 'icomoon/style'

@import url(https://fonts.googleapis.com/css?family=Lato)

body
	font-family: 'Lato', sans-serif

/*Header: Menu y Titulo de la seccion*/
header
	margin-bottom 20px
	&.messages
		background-color rgb(103,58,183)
	&.activities
		background-color rgb(156,39,176)
	nav
		align-items center
		color white
		display flex
		justify-content space-between
		.itemsNavs
			.item
				display inline-block
				padding 10px
				margin 0 10px
				&:last-child
					margin-right 0px
	.titleSection
		box-shadow 0 10px 30px rgba(0,0,0,0.3)
		color white
		font-size 4rem
		padding 30px 0
		padding-left 20px
		> *
			margin 0

/*Acvtividades*/
.activities
	.activity
		cursor pointer
		width 100%
		margin-bottom 40px
		transition all 2s linear
		position relative
		.imgActivity
			width 100%
		.titleActivity
			position absolute
			top 0
			margin 0
			width 100%
			font-size 2rem
			&:first-letter
				font-size 4rem
				font-weight bold
		&:last-child
			border-bottom 0
		.reminder
			color white
			font-size 2rem
			display flex
			justify-content center
			margin-bottom 10px
			.titleReminder
				display: flex;
				justify-content center
				align-items center
				width 40%
				margin 0
				background-position center
				background-repeat no-repeat
				background-size 110px
				transition all 1s linear
				&:hover
					border-bottom 1px solid transparent
			.date
				background-color rgba(0,0,0,0.7)
				width 60%
				text-align right
				font-size 3rem
				background-position right
				background-repeat no-repeat
				background-size 174px
				.meridiem
					font-size 1rem
					margin-left 10px
			.morning
				background-color rgb(255, 188, 0)
				border-bottom 10px solid rgb(255, 203, 57)
				background-image url('/images/reminders/sun.png')
			.nigth
				background-color rgb(69,90,100)
				border-bottom 10px solid rgb(27, 51, 62)
				background-image url('/images/reminders/moon.png')
		.complete
			.titleReminder
				background-color rgb(52, 168, 83)
				border-bottom 10px solid rgba(0,0,0,0.3)
				background-image url('/images/reminders/complete.png')
		.incomplete
			.titleReminder
				background-color rgb(236, 69, 89)
				border-bottom 10px solid rgba(0,0,0,0.3)
				background-image url('/images/reminders/incomplete.png')
		.inprocess
			.titleReminder
				background-color rgba(0,0,0,0.3)
				border-bottom 10px solid rgba(0,0,0,0.3)
				background-image url('/images/reminders/clock.png')

/*Mensajes*/
.messages
	color white
	.message
		width 100%
		transition all 2s linear
		padding 50px 0
		height 300px
		display: flex
		justify-content center
		align-items center
		background-position center
		background-repeat no-repeat
		&:last-child
			border-bottom 0

		.title
			font-size 3rem
			text-align center
	.correct
		background-color rgb(52, 168, 83)
		background-image url('/images/messages/correct.png')
		border-bottom 10px solid rgb(9, 118, 38)
	.warning
		background-color rgb(255, 188, 0)
		background-image url('/images/messages/warning.png')
		border-bottom 10px solid rgb(255, 203, 57)
	.incorrect
		background-color rgb(236, 69, 89)
		background-image url('/images/messages/incorrect.png')
		border-bottom 10px solid rgb(171, 12, 31)




