a.item(href='/admin/check-in')
	span.icon-check-in(tooltip='Registro')
a.item(href='/admin/collections')
	span.icon-database(tooltip='Colecciones')
a.item(href='/user/#{user.username}')
	span.icon-user(tooltip='Perfil')

