a.item(href='/admin/check-in')
	span.icon-check-in(tooltip='Registro')
a.item(href='/admin/collections')
	span.icon-database(tooltip='Collecione')
a.item(href='/logout')
	span.icon-logout(tooltip='Cerrar Sesion')
