extends templates/template.jade

block title
	title Remember Help

block titleSection
	p Recomendaiones

block content
	ul
		h2 Para Niñ@s
		li #[p #[strong Diviertanse] y no olviden hacer sus labores ]
	ul
		h2 Para Parientes
		li #[p Se recomienda el uso un PC para la visualizacion de graficas ]
	ul
		h2 Para Todos
		li #[p Para una visalizacion comoda de la informacion, la #[strong dimension] de la pantalla deben ser por minimo #[strong 414 x 736] ]
		li #[p Se recomienda el uso del navegador web #[strong Google Chrome] Tanto en version Movil como Escritorio]
		li #[p El #[strong Desarrollador] de la aplicación desea que les muy util]
