doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0' )
		block title

		// CSS - Estilos Principales de la Aplicacion
		link(rel='stylesheet', href='/css/styles.css')

		// CSS - Bootstrap 3.3.7
		link(rel='stylesheet', href='/css/lib/bootstrap.min.css')

		// CSS - Bootstrap DateTimePicker
		link(rel='stylesheet', href='/css/lib/bootstrap-datetimepicker.min.css')

		// CSS - Bootstrap Material Design
		link(rel='stylesheet', href='/css/lib/bootstrap-material-design.min.css')

		// CSS - Bootstrap Material Design
		link(rel='stylesheet', href='/css/lib/ripples.min.css')
	body
		block template
		-var typesMessages = ['warning','success','info','error']
		for typeMessages in typesMessages
			if messages[typeMessages]
				for message in messages[typeMessages]
					-var messageText = message
					if message.name == "MongoError"
						-var messageText = "Error Interno."
					p(class="#{typeMessages}").message #{messageText}
						button(type="button" class="close" )
							span ×
		template#commonElements
			button.btn.effectspan(type="button")

		// JS - Script Principal de la Aplicacion
		script(src='/js/main.js')

		// JS - Jquery 3.1.1
		script(src='/js/lib/jquery-3.1.1.min.js')

		// JS - Bootstrap 3.3.7
		script(src='/js/lib/bootstrap.min.js')

		// JS - MomentJS 2.17.1
		script(src='/js/lib/moment-with-locales.min.js')

		// JS - Bootstrap DateTimePicker
		script(src='/js/lib/bootstrap-datetimepicker.min.js')

		// JS - Bootstrap Material Design
		script(src='/js/lib/material.min.js')

		// JS - Bootstrap Material Design
		script(src='/js/lib/ripples.min.js')

		script.
			$.material.init()

		block scripts


