doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0' )
		block title
		link(rel='stylesheet', href='/css/styles.css')
	body
		block template
		-var typesMessages = ['warning','success','info','error']
		for typeMessages in typesMessages
			if messages[typeMessages]
				for message in messages[typeMessages]
					p(class="#{typeMessages}").message #{message}
						button(type="button" class="close" )
							span ×
		template#commonElements
			button.btn.effectspan(type="button")

		script(src='/js/main.js')



