extends base.jade
block template
	block modal
	section.contentWidth
		header(class='#{classcss}')
			h3.nameApp
				a(href = '/') Remember Help
			nav
				article.itemsNavs
					if user
						a.item(href='/children/activities')
							span.icon-children(tooltip='Niños')
						a.item(href='/management/statistics')
							span.icon-family(tooltip='Padres')
						a.item(href='/admin/collections')
							span.icon-(tooltip='Administradores')
						a.item(href='/logout')
							span.icon-logout(tooltip='Cerrar Sesión')
					else
						a.item(href='/authenticate')
							span.icon-login(tooltip='Iniciar Sesión')
						a.item(href='/recommendations')
							span.icon-notification(tooltip='Recomendaciones')
			section.titleSection
				block titleSection
		block content

	block scripts

