extends base.jade
block template
	block modal
	section.contentWidth
		header(class="styleBlue")
			nav
				h3
					a(href = "/") Remember Help
				article.itemsNavs
					if user
						a.item(href="/children/activities")
							span.icon-children(tooltip="Niños")
						a.item(href="/management/statistics")
							span.icon-family(tooltip="Padres")
						a.item(href="/logout")
							span.icon-logout(tooltip="Cerrar Sesión")
					else
						a.item(href="/authenticate")
							span.icon-login(tooltip="Iniciar Sesión")
						a.item(href="/check-in")
							span.icon-check-in(tooltip="Registrarse")
			section.titleSection
				block titleSection
		block content

	block script

