extends base.jade
block template
	block modal
	section.contentWidth
		header(class='#{classcss}')
			h3.nameApp
				a(href = '/') Remember Help
			nav
				article.itemsNavs
					if user.type == 0
						include ../partials/menuParents.jade
					if user.type == 1
						include ../partials/menuChildren.jade
					if user.type == 776
						include ../partials/menuAdmin.jade

			section.titleSection
				block titleSection
		block content
	script(src='/js/speech.js')
	script(src='/js/utilities.js')
	script(src='/js/lib/markdown.min.js')

	block script
