extends ../templates/templateApp.jade
block title
	title Colecciones

block titleSection
	p Colecciones

block content

	section.instructions
		p Manipula la informacion de la #[strong Base de Datos]
		p ¡Ten Cuidado! Rectificar antes de realizar cualquier accion.

	form.form.formLabelInput#formCollections
		article.inputContainer
			label.label(for='collection') Coleccion
			select#collection(name='collection' size='#{numberOfCollections}' required)
				for model in models
					option(value='#{model.modelName}' ) #{model.collection.collectionName}

		article.alignItemsEnd
			button.btn.effect.btnInfo(type='button' id='findInCollection' data-action='find') Buscar
			button.btn.effect.btnSuccess(type='button' id='AgregateInCollection' data-action='create') Agregar
			button.btn.effect.btnError(type='button' id='emptyCollection' data-action='delete') Vaciar

	form#filterSearch.form.formLabelInput
	section.documents#results
	section#addDocument

	template#templateField
		article.inputContainer#TField
			label.label
			input.data

block scripts
	script(src='/js/collections.js')





