extends ../templates/templateApp.jade
block title
	title Colecciones

block titleSection
	p Colecciones

block content
	form.form.formLabelInput#formCollections
		article.inputContainer
			label.label(for='collection') Coleccion
			select#collection(name='collection' size='6' required)
				option(value='parent') Pariente
				option(value='children') Niños
				option(value='user') Usuarios
				option(value='activity') Actividades
				option(value='history') Historias

		article.alignItemsEnd
			input.btn.btnInfo(type='button' id='findInCollection' value='Buscar' data-action='find')
			input.btn.btnSuccess(type='button' id='AgregateInCollection' value='Agregar' data-action='create')
			input.btn.btnError(type='button' id='emptyCollection' value='Vaciar' data-action='delete')

	section.documents#results
	section#addDocument

	template#templateField
		article.inputContainer#TField
			label.label
			input.data

block scripts
	script(src='/js/collections.js')





