extends ../templates/templateApp.jade
block title
	title Colecciones

block titleSection
	p Colecciones

block content
	template#field
		article.inputContainer
			label.label
			input.data

	form.form.formLabelInput#formCollections
		article.inputContainer
			label.label(for='collection') Coleccion
			select#collection(name='collection' size='6' required)
				option(value='parent') Pariente
				option(value='children') Niños
				option(value='user') Usuarios
				option(value='message') Mensajes
				option(value='activity') Actividades
				option(value='history') Historias

		article.alignItemsEnd
			input.btn.btnInfo(type='button' id='findInCollection' value='Buscar')
			input.btn.btnSuccess(type='button' id='AgregateInCollection' value='Agregar')
			input.btn.btnError(type='button' id='emptyCollection' value='Vaciar')

	section.documents#results
	section#addDocument
	block scripts
		script(src='/js/collections.js')





