extends ../templates/templateAppManagement.jade
block title
	title Colleciones

block titleSection
	p Colecciones

block content
	template#field
		article.inputContainer
			label.label
			input(readonly).data

	form.formRound
		article.inputContainer
			label.label(for="collection") Collecion
			select#collection(name="collection" size="5" required)
				option(value="father") Mama/Padre
				option(value="children") Niños
				option(value="user") Usuarios
				option(value="message") Mensajes
				option(value="activitie") Actividades
				option(value="history") Historias
		article.alignItemsEnd
			input.btn.btnInfo(type="button" id="findInCollection" value="Buscar")
			input.btn.btnSuccess(type="button" id="AgregateInCollection" value="Agregar")

	section#results
	block scripts
		script(src="/js/collections.js")





