extends ../templates/templateAppManagement.jade
block title
	title Colleciones

block titleSection
	p Colecciones

block content
	form.formRound
		article.inputContainer
			label.label(for="collection") Collecion
			select#collection(name="collection" size="5" required)
				option(value="fathers") Mama/Padre
				option(value="childrens") Niños
				option(value="messages") Mensajes
				option(value="activities") Actividades
				option(value="history") Historias
		article.alignItemsEnd
			input.btn.btnInfo(type="submit" value="Buscar")
			input.btn.btnSuccess(type="submit" value="Agregar")


