extends ../templates/templateAppManagement.jade
block title
	title Colleciones

block titleSection
	p Colecciones

block content
	form.formRound
		article
			label(for="collection") Collecion
			select#collection(name="collection" size="5" required)
				option(value="fathers") Mama/Padre
				option(value="childrens") Niños
				option(value="messages") Mensajes
				option(value="activities") Actividades
				option(value="history") Historias
		article
			label(for="finished") Refinar por
			input#finished(type="text" name="finished")
		article
			input.btn.btnSuccess(type="submit" value="Buscar")


