extends ../templates/templateApp.jade
block title
	title Estadisticas

block titleSection
	p Estadisticas

block modal
	section#statisticsWindow.modal.modal-hide(data-rol-modal='modal' data-contentModal data-referenceModal='#modal')
		section.contentModal
			article.titleModal
			article.bodyModal
			article.footerModal
				button.btn.btnError(data-closeModal='#modal' data-rol-modal='close' data-referenceModal='#modal') Volver
block content
	section.statistics
		article.statistic.statisticToday(data-statistic='today')
			h2 Hoy
			span.icon-statitics-list
			p Listado de las actividades completadas de un niñ@ en el dia actual.
			include ../templatesStatistics/today.jade
	section.statistics
		article.statistic.statisticsEvolution(data-statistic='evolution')
			h2 Evolución
			span.icon-statitics-area
			p Grafica de Area. Relacion  de Actidades completadas/incompletadas en un rango de fecha determinado.
			include ../templatesStatistics/evolution.jade
	section.statistics
		article.statistic.statisticsRangeDates(data-statistic='rangeDate')
			h2 Rango De Fechas
			span.icon-statitics-bars
			p Grafica de Barras comparativa. Actidades completadas/incompletadas en un rango de fecha determinado.
			include ../templatesStatistics/rangeDates.jade

	section.containerOptionsStatistic
block script
	script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
	script(src='/js/statistic.js')



