extends ../templates/templateAppManagement.jade
block title
	title Estadisticas

block titleSection
	p Estadisticas

block content
	section.statistics
		article.statistic
			h2 Hoy
			p Resumen de la actividad de un niñ@ en el dia actual
				include ../templatesStatistics/today.jade

	section.containerOptionsStatistic
block script
	script(src="/js/statistic.js")


