@import 'normalize'
@import url("https://fonts.googleapis.com/css?family=Lato")

@import 'OOCSS'
@import 'lib/modal'
@import 'lib/notifications'
@import 'lib/buttons'
@import 'lib/forms'
@import 'lib/messagesFlash'
@import 'lib/materialDesign'
@import 'lib/loader'

@import 'icomoon/style'

body
	font-family: 'Lato', sans-serif

/*Header: Menu y Titulo de la seccion*/
header
	color white !important
	margin-bottom 20px
	.nameApp
		margin 0
		padding 10px 0
		text-align center
		> *
			text-decoration none
			color inherit
	.wellcome
		display flex
		justify-content center
		align-items center
		font-size 1.5rem
	.photoUser
		width 100px
		border-radius 50%
		margin 0 10px

	nav
		a
			color inherit
			text-decoration none
		.itemsNavs
			display flex
			justify-content space-around
			.item
				display inline-block
				font-size 2rem
				margin 0 10px
				padding 10px
				&:last-child
					margin-right 0px
	.titleSection
		box-shadow 0 10px 30px rgba(0,0,0,0.3)
		font-size 3rem
		padding 30px 0
		padding-left 20px
		> *
			margin 0
/*Header: Menu y Titulo de la seccion*/

/*Autenticacion*/
.formAuthenticate
	.userPhoto
		display block
		margin 0 auto
		width 200px
		border-radius 50%
		margin-bottom 20px
	.userUsername
		text-align center
		font-size 1.5rem
	.backContinue
		cursor pointer
		font-size 3rem
		margin 0
	input
		font-size 1.2rem
		padding 10px
		width 80%

/*Autenticacion*/

/*Acvtividades*/
.activities
	.activity
		cursor pointer
		margin-bottom 40px
		position relative
		transition all 2s linear
		width 100%
		&:last-child
			margin-bottom 0
		.imgActivity
			width 100%
		.titleActivity
			font-size 2rem
			margin 0
			position absolute
			top 0
			width 100%
			&:first-letter
				font-size 4rem
				font-weight bold
		&:last-child
			border-bottom 0
		.reminder
			color white
			display flex
			font-size 2rem
			justify-content center
			margin-bottom 10px
			.titleReminder
				align-items center
				background-position center
				background-repeat no-repeat
				background-size 110px
				display: flex;
				justify-content center
				margin 0
				transition all 1s linear
				width 40%
				&:hover
					border-bottom 1px solid transparent
			.date
				background-color rgba(0,0,0,0.7)
				background-position right
				background-repeat no-repeat
				background-size 174px
				font-size 3rem
				padding 30px 0
				text-align right
				width 60%
				.meridiem
					font-size 1rem
					margin-left 10px
			.morning
				background-color rgb(255, 188, 0)
				background-image url('/images/reminders/sun.png')
				border-bottom 10px solid rgb(255, 203, 57)
			.nigth
				background-color rgb(69,90,100)
				background-image url('/images/reminders/moon.png')
				border-bottom 10px solid rgb(27, 51, 62)

		[data-statereminder="complete"]
			.titleReminder
				background-color rgb(52, 168, 83)
				background-image url('/images/reminders/complete.png')
				border-bottom 10px solid rgba(0,0,0,0.3)
		[data-statereminder="warning"]
			.titleReminder
				background-color rgb(251, 188, 5)
				background-image url('/images/reminders/warning.png')
				border-bottom 10px solid rgba(0,0,0,0.3)
		[data-statereminder="inprocess"]
			.titleReminder
				background-color rgba(0,0,0,0.3)
				background-image url('/images/reminders/clock.png')
				border-bottom 10px solid rgba(0,0,0,0.3)

/*Modal de confirmacion de Actividad*/
.templateConfirmActivityWindow
	align-items center
	display flex
	font-size 8rem
	justify-content space-around
	flex-wrap wrap
	height 100%
	.btn
		height 200px !important
		width 200px !important

/*Collections */
.documents
	.documentDB
		border-radius: 5px;
		border: 1px solid gray;
		margin: 20px 2px;
		padding: 5px;
/*Collections */

/*Estadisticas*/
.statistics
	display flex
	flex-wrap wrap
	.statistic
		//border 1px solid gray
		//border-radius 2px
		cursor pointer
		margin 1%
		padding 1%
		width 96%
		background-repeat no-repeat
		background-size 10%
		background-position 95% 5%
		//color white
		&Today
			background-image url('/images/statistics/today.svg')
			border-left 5px solid baseGreen
			border-right 5px solid baseGreen
			border-top 1px solid baseGreen
			border-bottom 1px solid baseGreen
		&Evolution
			background-image url('/images/statistics/evolution.svg')
			border-left 5px solid basePurple
			border-right 5px solid basePurple
			border-top 1px solid basePurple
			border-bottom 1px solid basePurple
		&RangeDates
			background-image url('/images/statistics/rangeDates.svg')
			border-left 5px solid baseYellow
			border-right 5px solid baseYellow
			border-top 1px solid baseYellow
			border-bottom 1px solid baseYellow

.containerOptionsStatistic
	background-color white
	bottom 0px
	box-shadow 0 10px 30px rgba(0,0,0,1)
	position fixed
	width 100%

.formOptionsStatistics
	padding-top 20px
	.close
		display flex
		align-items flex-end
		justify-content flex-end
		margin-right 24px
		color baseRed
		cursor pointer

/*Estadisticas*/

/*Instrucciones de Uso*/
.instructions
	text-align center

/*Instrucciones de Uso*/

.errors
	background-color #ea4235
	color #fff
	padding 10px

.styleBlue
	background-color baseBlue
.styleGreen
	background-color baseGreen
.styleOscure
	background-color baseOscure
.stylePurple
	background-color basePurple
.styleRed
	background-color baseRed
.styleYellow
	background-color baseYellow


@import 'media'
