.btn
	border none !important
	border-radius 5px
	color #fff
	cursor pointer
	display inline-block
	font-size 1em
	font-weight bold
	letter-spacing 3px
	margin-bottom 10px !important
	margin-top 10px !important
	outline none
	padding 10px !important
	&:active
		box-shadow 0px 0px transparent
		transition .1s box-shadow
	&Error
		background-color baseRed
		box-shadow 0px 6px #9F0E03
	&Help
		background-color baseYellow
		box-shadow 0px 6px #9A7200
		cursor help
		margin-top 0 !important
	&Info
		background-color baseBlue
		box-shadow 0px 6px #0759E4
	&Success
		background-color baseGreen
		box-shadow 0px 6px #097626
	&Round
		border-radius 50%
		height 300px !important
		width 300px !important
	&:disabled
		background-color colorBtnDiabledBackground
		box-shadow 0px 6px colorBtnDiabledBorder
		cursor not-allowed
