extends ../templates/templateAppChildren.jade

block title
	title Mensajes

block titleSection
	p Mensajes

block content
	section.messages
		each message in messages
			if message.type == 0
				- var classCss = "correct"
			else if message.type == 1
				- var classCss = "warning"
			else if message.type == 2
				- var classCss = "incorrect"
			article.message(class="#{classCss}" data-speech="#{message.text}")
				p.title #{message.text}

