extends ../templates/templateAppChildren.jade

block title
	title Recordatorios

block titleSection
	p Recordatorios

block content
	section.reminders
		article.reminder.complete
			article.title
				p lorem lorem
			article.date.morning
				p 6:00:00
					span.meridiem AM
		article.reminder.complete
			article.title
				p lorem lorem
			article.date.morning
				p 12:00:00
					span.meridiem M
		article.reminder.inprocess
			article.title
				p lorem lorem
			article.date.nigth
				p 6:00:00
					span.meridiem PM
		article.reminder.incomplete
			article.title
				p lorem lorem
			article.date.nigth
				p 7:00:00
					span.meridiem PM

