extends ../templates/template.jade
block title
	title Ingresar

block titleSection
	p Ingresar

block content
	section.instructions
		p Inicia Sesion Para utilizar #[strong #{nameProject}]
	form#formAuthenticate.form.formOnlyInput.formAuthenticate.text-center(action='/authenticate' method='POST')
		.row
			h2#userUsername.text-info
			img#userPhoto.img-responsive.img-circle.img-thumbnail(src="/images/users/unkown.png", alt="" width="70%")
		section#sectionContinue(data-hidden="false")
			.form.group
				input.form-control(type='text', name='username', placeholder='Usuario', autofocus required)
			.form.group.text-center
				button#continueAuthenticate.btn.btn-success.btn-raised(type='button')
					span Continuar

		section#sectionAuth(data-hidden="true")
			.form-group.text-center
				button.btn.btn-fab.btn-danger.btn-fab-mini.backContinue
					span.icon-back
			.form-group
				input.form-control(type='password', name='password', placeholder='Contraseña', required)
			.form-group.text-center
				button.btn.btn-success.btn-raised(type='submit')
					span Ingresar
		a(href="/remember") Has Olvidado algo?
block scripts
	script(src='/js/lib/markdown.min.js')
	script(src='/js/utilities.js')
	script(src='/js/authenticate.js')
