extends ../templates/template.jade
block title
	title Ingresar

block titleSection
	p Ingresar

block content
	section.instructions
		p Inicia Sesion Para utilizar #[strong #{nameProject}]
	form#formAuthenticate.form.formOnlyInput.formAuthenticate(action='/authenticate' method='POST')
		img.userPhoto(src="/images/users/unkown.png", alt="")
		p.userUsername
		section#sectionContinue(data-hidden="false")
			article.inputContainer
				input(type='text', name='username', placeholder='Usuario', autofocus required)
			article.inputContainer.alignItemsCenter
				button#continueAuthenticate.btn.btnSuccess(type='button')
					span Continuar
		section#sectionAuth(data-hidden="true")
			article.inputContainer.alignItemsCenter
				p.backContinue.icon-back
			article.inputContainer
				input(type='password', name='password', placeholder='Contraseña', required)
			article.inputContainer.alignItemsCenter
				button.btn.btnSuccess(type='submit')
					span Ingresar
		a(href="/remember") Has Olvidado algo?
	script(src='/js/lib/markdown.min.js')
	script(src='/js/utilities.js')
	script(src='/js/authenticate.js')
