extends ../templates/templateApp.jade
block title
	title Registro

block titleSection
	p Registro

block content
	form#formCheckIn.form.formOnlyInput(enctype='multipart/form-data' action='/admin/check-in' method='POST')
		fieldset.fieldset#dataChildren
			legend.legend Niñ@
			article.inputContainer
				input(type='number' name='idChildren' id='idChildren' placeholder='Identificación Niñ@' autofocus required)
			article.inputContainer
				input(type='text' name='nameChildren' id='nameChildren' placeholder='Nombre Niño' required)
			article.inputContainer
				input(type='number' min='5' name='ageChildren' id='ageChildren' placeholder='Edad Niño' required)
			article.inputContainer
				label.label(for='stateHealth') Estado de Salud
				select(name='stateHealth' id='stateHealth' required size='3')
					- for (stateHealth of statesHealth)
						option(value='#{stateHealth.value}') #{stateHealth.name}
			fieldset.fieldset
				legend.legend Usuario
				article.inputContainer
					input(type='text' name='usernameChildren' id='usernameChildren' placeholder='Usuario' required)
				article.inputContainer
					input(type='file' accept='image/*' name='photoChildren' id='photoChildren' )
				article.inputContainer
					input(type='password' name='passwordChildren' id='passwordChildren' placeholder='Contraseña' required)
				article.inputContainer
					input(type='password' name='confirmPasswordChildren' id='confirmPasswordChildren' placeholder='Confirmar Contraseña' required)

		fieldset.fieldset#dataParent
			legend.legend Familiar
			article.inputContainer
				input(type='number' name='idFamily' id='idFamily' placeholder='Identificación Familiar' required)
			article.inputContainer
				input(type='text' name='nameParent' id='nameParent' placeholder='Nombre Familiar' required)
			fieldset.fieldset
				legend.legend Usuario
				article.inputContainer
					input(type='text' name='usernameParent' id='usernameParent' placeholder='Usuario' required)
				article.inputContainer
					input(type='email' placeholder="Correo Electronico" name='email' id='email' )
				article.inputContainer
					input(type='file' accept='image/*' name='photoParent' id='photoParent' )
				article.inputContainer
					input(type='password' name='passwordParent' id='passwordParent' placeholder='Contraseña' required)
				article.inputContainer
					input(type='password' name='confirmPasswordParent' id='confirmPasswordParent' placeholder='Confirmar Contraseña' required)
		article.inputContainer.alignItemsCenter
			button.btn.btnSuccess(type='submit')
				span Registro
	script(src='/js/utilities.js')
	script(src='/js/checkIn.js')
