extends ../templates/template.jade
block title
	title Registro

block titleSection
	p Registrarse

block content
	form#formCheckIn.form.formOnlyInput(action="/check-in" method="POST")
		article.inputContainer
			input(type="text" name="nameChildren" id="nameChildren" placeholder="Nombre Ni単o" required)
		article.inputContainer
			input(type="text" name="nameFather" id="nameFather" placeholder="Nombre Padre" required)
		article.inputContainer
			input(type="text" name="username" id="username" placeholder="Usuario" required)
		article.inputContainer
			input(type="password" name="password" id="password" placeholder="Contrase単a" required)
		article.inputContainer
			input(type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contrase単a" required)
		button.btn.btnSuccess(type='submit')
			span Registro
	script.
		var formCheckIn = document.querySelector('#formCheckIn')
		formCheckIn.onsubmit = function(e){
			if (formCheckIn.password.value != formCheckIn.confirmPassword.value){
				event.preventDefault()
					alert("Las contrase単as no coinciden")
				}
		}
