extends ../templates/template.jade
block title
	title Recordar Datos

block titleSection
	p Recordar Datos

block content

	section.instructions
		p ¿Olvidate tus datos?. Escribe el correo que registrarse al ingresar a #[strong #{nameProject}] y te ayudamos a recordar.

	form#formRememberData.form.formOnlyInput.formRememberData(action='/remember' method='POST')
			article.inputContainer
				input(type='email', name='email', placeholder='Correo Electronico', autofocus required)
			article.inputContainer.alignItemsCenter
				button#continueAuthenticate.btn.btnSuccess.effect(type='submit')
					span Continuar
block scripts
	script(src='/js/utilities.js')

