doctype html
html(lang='es' style='font-size: 18px')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0' )
		block title
	body(style='margin:0;')
		section.contentWidth
				header(style='background-color: #34a853;color: #fff !important;margin-bottom: 20px;')
					h3(style='margin: 0;padding: 10px 0;text-align: center;')
						a(href='https://remember-help.herokuapp.com/' style='text-decoration: none;color: inherit;') remeberHelp
					section(style='box-shadow: 0 10px 30px rgba(0,0,0,0.3);font-size: 3rem;padding: 30px 0;padding-left: 20px;')
						p(style='margin: 0;') Recordar Datos
				section(style='color:black')
					p Hola #[strong #{associated.name}]
					p Pediste que te recordamaos tus Datos
					ul(style='list-style:none')
						li #[strong Usuario]: #{associated.user.username}
						li #[strong Contraseña]: #{associated.user.password}
