.message
	border-radius .25em
	color #fff
	font-weight bold
	padding 3px
	text-align center
	position relative
	.close
		-webkit-appearance none
		background 0 0
		border 0
		color #000
		color inherit
		cursor pointer
		float right
		font-size 21px
		font-weight 700
		line-height 1
		opacity 0.2
		padding 0
		position absolute
		text-shadow 0 1px 0 #fff
		right 6px
		top 0px
.info
	background-color #337ab7
.error
	background-color #d9534f
.warning
	background-color #f0ad4e
.success
	background-color #5cb85c
